# Privy (get from https://dashboard.privy.io)
NEXT_PUBLIC_PRIVY_APP_ID=your-privy-app-id

# Relayer
NEXT_PUBLIC_RELAYER_URL=http://localhost:3001

# Solana
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=Bb3zRkLip445BQ1S44PC115aws8CCyag4KFkch9ZcKjp
